@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: BasierCircle-Regular;
  src: url(/fonts/BasierCircle-Regular.woff2);
}

@font-face {
  font-family: BasierCircle-SemiBold;
  src: url(/fonts/BasierCircle-SemiBold.woff2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f3f4f5;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.basier-regular {
  font-family: BasierCircle-Regular;
}

.basier-semibold {
  font-family: BasierCircle-SemiBold;
}

.fas {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://assets.revolut.com/assets/flags/GB.svg);
  box-shadow: rgb(122 122 122 / 15%) 0px 0px 0px 1px inset;
}

.fa {
  grid-area: 1 / 3 / auto / auto;
}

.ff {
      box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font: inherit;
    display: flex;
}


.fsa {
  transition: all 0.15s ease 0s;
}